[Unit]
ConditionFileIsExecutable=/usr/bin/client

[Service]
Type=simple
ExecStart=/usr/bin/client
StandardOutput=syslog+console
Restart=always

[Install]
WantedBy=network-online.target
